__pycache__/
*.pyc
db.sqlite3
media/

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.venv/
env/

.DS_Store

.pytest_cache/

.mypy_cache/

.coverage
htmlcov/

build/
dist/
*.egg-info/

*.log