argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.1
cffi==2.0.0
Django==6.0.5
django-cors-headers==4.9.0
django-redis==6.0.0
djangorestframework==3.17.1
mutagen==1.47.0
pillow==12.2.0
pycparser==3.0
python-dotenv==1.2.2
redis==7.4.0
sqlparse==0.5.5
