@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Italic-VariableFont.ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

body {
  font-family: Inter;
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  margin-bottom: 120px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.text-secondary {
  color: var(--foreground-secondary);
}
.text-muted {
  color: var(--foreground-muted);
}

.form__input {
  background-color: var(--surface);
  border-radius: 0.3rem;
  border: none;
  color: var(--foreground);
  padding: 0.5rem;
}

.form__file::file-selector-button {
  background-color: var(--surface);
  border-radius: 0.3rem;
  border: none;
  color: var(--foreground);
  border: none;
  padding: 0.5rem;
}

.form__submit {
  border-radius: 999rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--background);
  background-color: var(--foreground-secondary);
  font-weight: 500;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu li {
  padding: 0.2em;
}

.section {
  max-width: 1280px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: var(--foreground);
}

a:hover {
  text-decoration: underline;
}

.button--main {
  color: var(--background);
  background-color: var(--foreground-secondary);
  transition: 250ms;
}

.button--main:hover {
  background-color: var(--primary-secondary);
  color: var(--background);
}

.button--main:active {
  filter: drop-shadow(var(--primary-secondary) 0 0 0.5rem);
  transition: 100ms;
}

.button--secondary {
  background-color: var(--surface);
  color: var(--foreground-secondary);
}

.backdrop-shadow {
  filter: drop-shadow(rgba(16, 18, 26, 0.15) 3px 3px 30px);
}

.profile__banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), var(--background)), url(/src/assets/images/banner.png);
  background-position: center;
  background-size: cover;
}

.avatar {
  width: var(--avatar-lg);
  height: var(--avatar-lg);
  pointer-events: none;
  border: 0.4rem solid var(--background);
  background-image: url(/src/assets/images/default_avatar.jpg);
  background-size: cover;
}

.avatar--small {
  width: var(--avatar-sm);
  height: var(--avatar-sm);
}

.avatar--medium {
  width: var(--avatar-md);
  height: var(--avatar-md);
}

.avatar.circle {
  border-radius: 100rem;
}

.avatar.square {
  border-radius: 1rem;
}

.primary-title {
  font-size: 2em;
  font-weight: 700;
}

.primary-title--secondary {
  font-size: 1.5em;
  font-weight: 700;
}

.bold-text {
  font-weight: 700;
}

.form__full-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form__full-field label {
  margin-bottom: 0.5em;
}

.form__sub-text {
  font-size: 0.8em;
  font-weight: 400;
  margin-top: 1em;
  color: var(--foreground-muted);
}

.create-menu__outer {
  background-color: #00000093;
}

.create-menu {
  background-color: var(--background);
  border-radius: 1em;
}

.list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
