:root {
  --foreground: #fafafa;
  --foreground-secondary: #a1a1aa;
  --foreground-muted: rgba(255, 255, 255, 0.35);
  --surface: #1e1e1e;
  --surface-secondary: #2d2d2d;
  --background: #121212;
  --background-secondary: #333;
  --primary: #b8ff26;
  --primary-secondary: #4551f2;

  --avatar-lg: 12rem;
  --avatar-md: 6rem;
  --avatar-sm: 2.25rem;
}
